<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="prod">
        <appender name="JSON" class="net.logstash.logback.appender.LoggingEventCompositeJsonEncoder">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder" />
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.bike.store" level="DEBUG" />
</configuration>
